SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback

SAVED_RECENT_WINDOWS=50,200
SAVED_IN_YEAR_YEARS=2024,2025

# Optional example:
# AUTO_PLAYLISTS_MERGED_PLAYLISTS=Мой Мегамикс=RECENT 50 [AUTO]+2024 [AUTO]

